/* Dodane style */
.product-info {
    text-align: center;
    margin-top: 50px;
}
.product-image {
    max-width: 300px;
    margin-bottom: 20px;
}
.quantity-select {
    margin-bottom: 20px;
}
.add-to-cart-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 4px;
}
.add-to-cart-btn:hover {
    background-color: #45a049;
}
.homepage {
    color: black;
    text-decoration: none;
}