<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zamówienie</title>
    <link rel="stylesheet" href="/css/orderPage.css">
</head>
<body>
<header>
    <h1>Computer shop</h1>
</header>
<nav>
    <ul>
        <li><a href="/">Home page</a></li>
    </ul>
</nav>
<main>
    <h1>Your cart is empty</h1>
</main>
<footer>
    <p>&copy; 2024 Sklep komputerowy. Wszelkie prawa zastrzeżone.</p>
</footer>
</body>
</html>
