<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep komputerowy</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>Witaj w sklepie komputerowym</h1>
    <nav>
        <ul>
            <li><a href="#">Rejestracja</a></li>
            <li><a href="#">Logowanie</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Koszyk</a>
                <div class="dropdown-content">
                    <!-- Tutaj wyświetlana będzie lista produktów w koszyku -->
                    <!-- Możesz użyć Thymeleafa, aby wyświetlać dynamicznie -->
                    <div class="product-in-cart">
                        <span class="product-in-cart-name">Nazwa innego produktu</span>
                        <span>Ilość: 1</span>
                        <span>Cena: $10.00</span>
                    </div>
                    <div class="total">
                        <span>Wartość całego zamówienia: $50.00</span>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Kategorie</a>
                <div class="dropdown-content">
                    <a th:each="category:${categories}" th:href="@{'/products/' + ${category}}" th:text="${category.getName()}"></a>
                </div>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="product-container">
        <!-- Tutaj będą wyświetlane produkty -->
        <!-- Wstawienie przykładowego produktu -->
        <div class="card" th:each="product:${products}">
            <div class="imgBox">
                <img src="https://www.corsair.com/corsairmedia/sys_master/productcontent/CH-9300011-NA-M65_PRO_RGB_BLK_04.png" alt="mouse corsair" class="mouse">
            </div>
            <div class="contentBox">
                <h3 th:text="${product.getName()}"></h3>
                <h2 class="price" th:text="${product.getPrice()} + ' $'" ></h2>
                <a href="#" class="buy">Buy Now</a>
            </div>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2024 Sklep komputerowy. Wszelkie prawa zastrzeżone.</p>
</footer>
</body>
</html>
