<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep komputerowy</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/script.js"></script>
</head>
<body>
<header>
    <h1>Witaj w sklepie komputerowym</h1>
    <nav>
        <ul>
            <li><a href="/register">Rejestracja</a></li>
            <li><a href="#">Logowanie</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Cart</a>
                <div class="dropdown-content">
                    <div class="product-in-cart" th:each=" orderedProduct:${orderedProducts}">
                        <span class="product-in-cart-name" th:text="${orderedProduct.getProduct().getName()}"></span>
                        <span th:text=" 'Amount: ' + ${orderedProduct.getQuantity()}"></span>
                        <span th:text="'Price: ' + ${orderedProduct.getPrice()}"></span>
                    </div>
                    <div class="total">
                        <span th:text="'Total amount: ' + ${totalAmount}"></span>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Kategorie</a>
                <div class="dropdown-content">
                    <a th:each="category:${categories}" th:href="@{'/products/' + ${category.getName()}}" th:text="${category.getName()}"></a>
                </div>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="product-container">
        <div class="card" th:each="product:${productsByCategory}">
            <div class="imgBox">
                <img src="/img/img1.jpg" alt="product img" class="product-img">
            </div>
            <div class="contentBox">
                <h3 th:text="${product.getName()}"></h3>
                <h2 class="price" th:text="${product.getPrice()} + ' $'" ></h2>
                <form action="/add-order" method="post">
                    <div class="form-group">
                        <select class="quantitySelector" name="quantity" th:if="${product.getAmountInMagazine() > 0}">
                            <option th:each="i : ${#numbers.sequence(1, product.getAmountInMagazine())}" th:value="${i}" th:text="${i}"></option>
                        </select>
                        <label for="id"></label>
                        <input type="hidden" th:value="${product.getId()}" id="id" name="id" required>
                    </div>
                    <button type="submit" class="buy">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2024 Sklep komputerowy. Wszelkie prawa zastrzeżone.</p>
</footer>
</body>
</html>
